/* Стиль для users страницы*/
/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .users_page-container {
        padding: 10px; /* Уменьшаем внутренние отступы */
    }

    .table-wrapper {
        width: 100%; /* Таблица занимает всю ширину */
        overflow-x: auto; /* Добавляем горизонтальную прокрутку */
    }

    .button-container {
        flex-direction: column; /* Кнопки располагаются вертикально */
        gap: 10px; /* Уменьшаем расстояние между кнопками */
    }

    .button-container button {
        width: 100%; /* Кнопки занимают всю ширину */
    }

    .modal-content {
        width: 90%; /* Модальное окно занимает почти всю ширину экрана */
    }
}


/* Стили для контейнера страницы */
.users_page-container {
    display: block; /* Используем Flexbox для выравнивания */
    flex-direction: column; /* Устанавливаем вертикальное направление */
    justify-content: center; /* Центруем содержимое по вертикали */
    align-items: center; /* Центруем содержимое по горизонтали */
    height: 100vh; /* Задаем высоту 100% от высоты окна */
    box-sizing: border-box; /* Учитываем отступы в расчете ширины и высоты */
}

